.side::-webkit-scrollbar {
    display: none;
}
.cont::-webkit-scrollbar {
    display: none;
}
.btn-secondary{
    background: #202020;
    border:0;
}
.btn-secondary:hover{
    background: #5C636A;
}
*{
    font-family: "Montserrat";
}
.navbar-toggler {
    margin-right: 10px!important;
}
html, body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
}
body {
    display: flex;
    background-color:#202020
}
.dropdown-menu>li>a:hover {
    background-color: #1D513C;
}
.container, .container-fluid{
    max-width: 100vw;
    margin:0px;
    padding:0px;
    height:100%
}
.btn2{
    margin:0.5vw;
    min-width: 11vw;
    font-size:min(1.2vw,18pt);

}

.btn-success {
    background:#4aa96c;
    border-color: #4aa96c
}
.btn-outline-success {
    border-color: #4aa96c;
    color: #4aa96c;
    border-radius: 10%!important
}
.btn-circle {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1;
    margin-top:15px;
    margin-right:15px;
    float:right;
    background:#4aa96c;
    border-color: #4aa96c
}
@media screen and (max-width: 800px) {

    .logo{
        font-family:"Montserrat";
        font-size:3vw;
        color:white;
        text-align: center;
    }
    .side {
        display:none;
    }
    .cont {
        overflow: scroll;
        min-width: 100vw;
        width:100vw;
        max-width: 100vw;
        height: calc(100% - 50px);
    }
    .btn2{
        margin:2vw;
        min-width: 13vw;
        font-size:1.3vw;
    }
    .mbnavbar {
        position: fixed;
        left: 0;
        bottom: 0;
        height: 50px;
        width: 100%;
        background-color: #212529;
        color: white;
        display: flex;
        justify-content: space-between;
    }
    .mbform{
        display:flex;
        justify-content: space-between;

    }

    .card{
        font-size:10pt;
    }
    #yazi{
        font-size:2vw;
        vertical-align: middle;
        margin-left:8px;
    }
}
@media screen and (min-width: 800px) {
    .logo{
        font-family:"Montserrat";
        font-size:2vw;
        color:white;
        text-align: center;
    }
    .side {
        background-color:#212529;
        overflow: scroll;
        max-height: 100vh;
        min-width:13vw;
        width:13vw;
        max-width: 13vw;
        color:white;
        margin:0px;
        align-content: center;
    }
    .cont {
        overflow: scroll;
        max-height: 100vh;
        min-width: 87vw;
        width:87vw;
        max-width: 87vw;

    }
    .card{
        font-size:0.90vw;
    }
    .mbnavbar {
        display:none;
    }
    .mbform{
        display:none;
    }
    #yazi{
        font-size:1.2vw;
        vertical-align: middle;
        margin-top:10px;

    }
}